<!DOCTYPE html>
<html>
  <head>
   
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <header>
    <% include ../partials/header %>
  </header>
  <body class="flow-text  grey darken-3 green-text text-lighten-1">
       
            
       
     
          <div class="row">                    
            <div class="col s12 m9 flow-text">
                <h4 class=flow-text>Course detail</h4>
                <div class="card-panel grey darken-4 z-depth-3">
                  <h4> Course name</h4>
                  <p><%= course.name %></p>

                </div>
                <div class="card-panel grey darken-4 z-depth-3">
                    <h4> Course type</h4>

                    <p><%= course.type %></p>
              </div>
              <div class="card-panel grey darken-4 z-depth-3">
                  <h4> Course rating</h4>

                  <p><%= course.rating %></p>
              </div>
           
            </div>                                                  
                    <div class="col s12 m3">
                        <h4 class=flow-text>               Chatbox
                          </h4>
                          <div class="card-panel grey darken-4 z-depth-3">

                 
                          <% course.courseItems.forEach(function(element){ %>
                            <p><%= element %></p>
                          <% }) %>
                        </div>

                    </div>
           </div>
          </div>
         
    <% include ../partials/foot %>
  </body>
</html>
