<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>
<header>
    <% include ../partials/header %>
</header>

<body>
        <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
                        <i class="large material-icons">mode_edit</i>
                      </a>
                      <ul>
            <li><a href="http://localhost:3000/partners/<%= editpage %>/edit" class="btn-floating waves-effect"><i class="material-icons">edit</i></a>
            </li>
            <li><a href="http://localhost:3000/partners/<%= editpage %>/delete" class="btn-floating waves-effect"><i class="material-icons">delete</i></a>
            </li>
        </ul>
        </div>
    <div class="container">
    <div class="row" style="font-family: 'IBM Plex Sans', sans-serif">

        



                <div class="col s12 m8">
                    <div class="card horizontal z-depth-2">
                        <div class="card-image">
                            <img class="responsive-img materialboxed" src="/images/<%= partner.image_filename %>">
                       
                                  
                        
                        </div>

                        <div class="card-content">
                                <span class="card-title">
                                        <h4><%= partner.name %></h4></span>
                            <div class="divider"></div>
                            <div class="section">
                                    
                                <p>partner name</hp>
                                <h5>
                                    <%= partner.partner_name %>
                                </h5>

                              
                                      

                                   
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                            <p>partner Contact</p>
                           
                            <h5>  <i class="material-icons left blue-text">phone</i>
                                    <%= partner.partner_phone %>
                            </h5>
                            
                             
                            <h5><i class="material-icons left blue-text">email</i>   <%= partner.partner_email %></h5>
                        </div>
                        <h5>  <i class="material-icons left blue-text">location_city</i>
                            <%= partner.address %>
                            
                    </h5>
                    
                       
                     
                            <div class="divider"></div>
                            <div class="section">
                              
                                <p>Description</p>
                                <h5>
                                    <%= partner.description %>
                                </h5>
                               
                                    </div>
    
                            </div>
                            
                                

                                
                        </div>
                    </div>
                    <div class="col s12 m4">
                       
                        <div class="card ">
                            <div class="card-title ">Eladott termékek száma a hónapban?</div>
                        </div>
                        <div class="card ">
                            <div class="card-title">Top partnerek</div>
                        </div>
                        <div class="card ">
                            <div class="card-title">
                                <h5>grafikonok</h5>
                            </div>
                        </div>

                    </div>
            </div>








        </div>
    </div>
    <% include ../partials/foot %>
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });

        $(document).ready(function () {
            $('.materialboxed').materialbox();
        });
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'up',
      hoverEnabled: false
    });
  });
    </script>

</body>

</html>