<!DOCTYPE html>
<html>

<head>

  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>
</header>

<body class="float-text">

  <div class="container">

  <div class="row">

    <div class="col m12 l8">

     
        <div class="fixed-action-btn">

          <a class="right btn-floating waves-effect waves-light red" href="/partner/new"><i class="material-icons">add
            </i></a>
          </div>
        <h2 class="header">Partnerek</h2>



        <div class="row">
          <% partnerlist.forEach((partner,index) =>{ %>

          <div class="col s12 m6">
            <div class="card horizontal hoverable">

              <div class="card-image">
                <img src="/images/<%= partner.image_filename %>" alt="" class="responsive-img">
              </div>
              <div class="card-stacked">
                <div class="card-title">
                  <%= partner.name %>
                </div>
                <div class="card-content">


                  <%= partner.partner_name %>

                  <div class="divider"></div>

                  <%= partner.partner_email %>
                  </p>


                </div>
                <div class="card-action">
                  <a href="/partners/<%= partner._id %>">Details</a>

                </div>
              </div>

            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>








  </div>

  <% include ../partials/foot %>
  <script>
    $(document).ready(function () {
      $('.collapsible').collapsible();
    });

    $(document).ready(function () {
      $('.materialboxed').materialbox();
    });
  </script>
</body>

</html>