<!DOCTYPE html>
<html>

<head>

  <% include ../partials/head %>
</head>
<header>
  <% include ../partials/header %>
</header>

<body>



  <div class="row">
    <div class="col s12 m3">
      <h5 class=flow-text>Sidenavbar</h5>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header  -text"><i class="material-icons">business_center</i>Courses</div>
          <div class="collapsible-body  -text">



            <a class="collection-item  -text text-lighten-1 waves-effect waves-teal btn-flat" href="/new"><i class="material-icons left">filter_drama</i>
              Add new

            </a>
            <a class="collection-item  -text text-lighten-1 waves-effect waves-teal btn-flat" href="#"><i class="large material-icons left">insert_chart</i>
              View my courses
            </a>
            <a class="collection-item  -text text-lighten-1 waves-effect waves-teal btn-flat" href="#"><i class="large material-icons left">insert_chart</i>
              Buddy write more than that
            </a>

        </li>
      </ul>

    </div>
    <div class="col s12 m6">

      <h2 class="header">Product list</h2>

      <ul class="collection">
      <% productlist.forEach((product,index) =>{ %>
        <a class="collection-item avatar" href="/products/<%= product._id %>">
        <img src="/images/<%= product.imagefilenames %>" alt="" class="circle">
        <div class="title">
          <%= product.name %>
          <span class="new badge <%= product.amount==0?'red':'blue' %>" data-badge-caption="Raktáron">
              <%= product.amount %></span>
        </div>
        
       
       <p>Price: <%= product.price %> Ft <br>
       ID: <%= product.product_id %></p>
        
       
        </a>
  <% }); %>
</ul>
    </div>
  <div class="col s12 m3">
    <h5 class=flow-text> Chatbox
    </h5>
    <img class="responsive-img materialboxed" src="/images/1538884585245.jpg">


  </div>

  </div>
  <div class="fixed-action-btn">

      <a class="right btn-floating waves-effect waves-light red" href="/product/new"><i class="material-icons">add
        </i></a>
            </div>
  <% include ../partials/foot %>
  <script>
    $(document).ready(function () {
      $('.collapsible').collapsible();
    });

    $(document).ready(function () {
      $('.materialboxed').materialbox();
    });
  </script>
</body>

</html>